<% if notice.present? %>
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
  <%= notice %>
</p>
<% end %>
<h1 class="font-bold text-2xl">Sources Manager</h1>
<!-- add new sources -->
<div class="mt-4">
  <%= render "form",source: @source %>
</div>
<!-- all sources -->
<div id="plants" class="mt-5">
    <table class="table-auto">
      <thead>
      <tr>
        <th>Title</th>
        <th>Publication Date</th>
        <th>Edition Reference</th>
        <th>Web Link</th>
        <th>Category</th>
        <th>Origin</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
        <%= render @sources %>
      <tbody>
    </table>
  </div>
