<div>
  <h1 class="font-bold text-2xl mb-3">Editing Person</h1>

  <div id="<%= dom_id @person %>">
    <%= render "form", person: @person %>
    <%= link_to "Never Mind", people_path, class: "btn mb-3 bg-gray-100" %>
  </div>
</div>
