<% if notice.present? %>
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
  <%= notice %>
</p>
<% end %>


<div class="flex justify-end">
    <%= link_to 'New Author', new_person_path,
        data: {turbo_frame: dom_id(Person.new)},
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%>
</div>

<%= turbo_frame_tag Person.new %>


  <!-- tableau Nom Prénom Action -->
    <!-- filter -->
    <div class="mt-10">
      <div class="table border-collapse table-auto w-full">
        <div class="table-header-group">
          <div class="table-row">
            <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 dark:text-slate-400 text-left">Nom, Prénom (Date de naissance, Date de décès)</div>
            <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 dark:text-slate-400 text-left">Actions</div>
          </div>
        </div>
        <turbo-frame id="people" class="table-row-group">
            <%= render @people %>
        </turbo-frame>
      </div>
    </div>
