<%= form_with(url: plants_path,
             class: "mt-5 mb-5",
             method: :get, data: { controller: "filters", filters_target: "form", turbo_frame: "plants" }) do |form| %>

 <div class="form-group mb-6 inline-flex space-x-2">
   <%= form.collection_select :family, Family.with_plants,
   :id, :name, {include_blank: true }, {data: { action: "filters#submit" } ,
   class: "form-control shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2"} %>

   <%= form.select :pharmacopoeia, Plant.pharmacopoeia.keys,
                  { include_blank: true },
                   { data: { action: "filters#submit" } ,
                   class: "form-control shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 "}%>

  <%= form.text_field :search,
                     {placeholder: "Search for",
                     value: params[:search],
                     class: "form-control shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 ",
                     data: { action: "filters#submit" }} %>
</div>

<% end %>
