<div class="w-full">
  <%= link_to sanitize("&larr; Back to plants"), plants_path %>
  <h1 class="font-bold text-4xl">New Plants</h1>
  <%= turbo_frame_tag @plant do %>
    <%= render "form", plant: @plant %>
  <% end %>
</div>
